/* styles goes here */
.card {
    position: relative;
}

.gameCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    align-items: center;}

.back {
    /* position: absolute; */
    width: 150px;
    height: 200px;
    transition: 1s;
    backface-visibility: hidden;
    /* transform: s; */
    transform-style: preserve-3d;
    
}

.front {
    position: absolute;
    width: 145px;
    height: 200px;
    transform: rotateY(180deg);
    transition: 1s;



}

.card:hover .back {
    transform: rotateY(180deg);

}

.card:hover .front {
    transform: rotateY(360deg);

}